# Node/NPM
node_modules/
dist/
build/
.npm/

# Expo / React Native
.expo/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Java / Spring Boot
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Env variables
.env
.env.local
.env.*.local
